.container {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  width: 60%;
}

.card {
  display: flex;
  height: 47%;
  flex-basis: 30%;
  border: 1px solid #eaeaea;
  margin-right: .5rem;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  cursor: pointer;

  &:hover {
    border: 1px solid #cecece;
  }

  &--selected {
    border: 1px solid #cecece;
  }
}
