.container {
  display: flex;
  height: 10%;

  &__section {
    width: 50%;
    display: flex;
  }

  &__item {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: center;
  }
}
